.root {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: monospace;
}

.homeworksColumn {
    width: 250px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.viewColumn {
    flex: 1;
    background-color: antiquewhite;
    display: flex;
}
