.root {
    width: 100%;
    height: 100%;

    display: flex;
}

.sidebar {
    box-sizing: border-box;
    width: 300px;
    max-width: 300px;
    flex-shrink: 0;
    background-color: var(--fourth-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 13px;
}
.search {
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
    display: block;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: 20px;
}
.searchContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.user {
    padding: 20px;
    cursor: pointer;
    background-color: #1f2833;
    border-radius: 13px;
    margin-bottom: 11px;
}
.user:first-child {
    margin-top: 11px;
}
.user:hover {
    background-color: grey;
}
.userActive {
    background-color: #2a5c00;
    cursor: default;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid;
}
.userActive:hover {
    background-color: #2a5c00;
}

.lessons {
    flex: 1;
    margin-left: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--third-color);
}

.coursePanel {
    padding: 10px;
}

.coursePanelItem {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.coursePanelItem:hover {
    opacity: 0.8;
}

.coursePanelItemActive {
    background-color: rgb(253, 201, 133);
}

.userName {
    color: rgb(31, 31, 31);
}

.openAllCourse {
    display: inline-flex;
    background: antiquewhite;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}
.openAllCourse h4 {
    margin: 0;
}

.lessonCards {
    margin-top: 20px;
}

.switch {
    margin: 0 20px;
}
