.button {
    margin-top: 0;
    font-family: var(--font-text);
    background: var(--color--our-black);
    box-shadow: 0px 10px 20px rgba(48, 48, 48, 0.25);
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
    width: 80%;
    height: 50px;
}
.button:disabled {
    opacity: 0.7;
}

.spinner {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
