.button {
  width: 400px;
  cursor: pointer;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(203, 203, 203);
  transition: all .2s linear;
  border-radius: 10px;
  font-size: 16px;
}

.button:hover {
  box-shadow: 3px 3px 5px rgb(111, 111, 111);
  background-color: orange;
}