.hw {
    position: relative;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #5e5e5e;
    background: black;
    color: white;
}

.attachments {
    margin: 20px 0;
}
.hw_img {
    display: inline-block;
    width: 150px;
}
.hwTime {
    padding-top: 10px;
    border-top: 1px solid var(--secondary-color);
    font-family: Arial;
    display: inline-block;
}
.hw_answer h1 {
    padding-top: 30px;
}

.hw_answer_cross {
    padding-left: 50px;
    cursor: pointer;
}

.hw_answer_button {
    padding: 20px;
    background-color: var(--color--error);
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    vertical-align: top;
}

.answer_content {
    padding-left: 30%;
}

.answer_content h2 {
    padding-top: 30px;
}
