.root {
    display: flex;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    margin-right: 17px;
}

.text {
}

.title,
.salary {
    font-size: 14px;
}

.title {
    color: #606060;
}

.salary {
    margin-bottom: 5px;
}

.telegram,
.telegram + div {
    color: var(--secondary-color);
    font-size: 11px;
}
