.root {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    border: 5px solid var(--fourth-color);
    color: var(--fourth-color);
    padding: 20px 40px;
    cursor: pointer;
}
.root:hover {
    background-color: yellow;
}
