.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
}

.header {
    height: 118px;
    min-height: 118px;
    background-color: #0b0c10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.text {
    font-size: 48px;
    color: #66fcf1;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
