.textarea {
  width: 600px;
  height: 90px;
  outline: none;
  border: none;
  border-bottom: 2px rgb(177, 177, 177) solid;
  background-color: rgba(113, 113, 113, 0.148);
  padding: 5px 10px;
  margin: 5px;
  color: white;
  resize: none;
}

.textarea::placeholder {
  color:rgb(196, 196, 196);
}

.textarea:focus {
  border-bottom: 2px orange solid;
}

.textarea::-webkit-scrollbar {
  width: 3px;
}

.textarea::-webkit-scrollbar-track {
  background: rgba(151, 151, 151, 0);
}

.textarea::-webkit-scrollbar-thumb {
  background-color: orange;
}