.salaryCounter {
    font-size: 48px;
    letter-spacing: 20px;
    padding: 16px 20px 8px 40px;
    background: #0b0c10;
    border: 6px solid #66fcf1;
    border-radius: 13px;
    display: inline-flex;
    justify-content: center;
    margin: 0 20px;
}
