.header {
    color: white;
    font-size: 40px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 54px;
}
.footer {
    margin-top: 54px;
}

.toRegLink {
    color: aliceblue;
    text-decoration: none;
    padding: 30px;
}
