.App {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
}
.NavBar {
    height: 100vh;
    background-color: black;
}
.NavBar__li {
    display: block;
    padding: 20px;
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: background-color linear 0.3s;
}
.NavBar__li:hover {
    background-color: black;
}
