.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100vh;
  background-image: url(../public/background.jpg);
}

.AppBody {
  display: flex;
  flex-direction: column;
  background-color: rgba(87, 87, 87, 0.762);
  width: 700px;
  height: 500px;
  align-items: center;
  justify-content: center;
}