@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@font-face {
    font-family: MrAmazin;
    src: url('../public/fonts/mr-amazin-regular-type.otf') format('opentype');
}

body {
    /* Variables */
    --background-color: #1f2833;
    --color: #fff;
    --primary-color: #66fcf1;
    --warning-color: #fcd266;
    --error-color: #fc6666;

    --secondary-color: #d9d9d9;
    --third-color: #3f4a58;
    --fourth-color: #0b0c10;

    --input-color: #292929;

    --zindex-notification-system: 100;

    --main-button-background: linear-gradient(
        315deg,
        rgb(205, 68, 86),
        rgb(239, 96, 71)
    );

    margin: 0;
    --readable-font: 'Arial';
    --base-font: MrAmazin;

    font-family: var(--base-font);
    background-color: var(--background-color);
    color: var(--color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
