.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
}

.header {
    margin-top: 50px;
}

.subheader {
    margin-top: 14px;
}

.counter {
    margin-top: 38px;
}
