.root {
    display: flex;
    justify-content: center;
    font-family: var(--font-text);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
    max-width: 400px;
}

.header {
    margin-top: 50px;
}

.subheader {
    margin-top: 14px;
}

.counter {
    margin-top: 38px;
}

.line {
    margin-top: 50px;
}

.tasks {
    width: 90%;
}
.currentTask {
    margin-top: 50px;
}

.currentTaskText {
    text-align: left;
    margin-bottom: 20px;
    display: block;
}

.doneTasks {
    margin-top: 50px;
    margin-bottom: 50px;
}

.doneLessons {
    margin-top: 12px;
}
