.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    pointer-events: none;
}
.switchDisabled {
    opacity: 0.5;
    cursor: wait;
}

.switch .input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--third-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    background-image: var(--image);
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--secondary-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.inputChecked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: var(--primary-color);
}

/* Rounded sliders */
.round {
    border-radius: 34px;
}

.round:before {
    border-radius: 50%;
}
