.root {
    position: absolute;
    right: 20px;
    top: 20px;

    width: 594px;
    height: 266px;
    background-color: #3f4a58;

    border-radius: 13px;
    border: 11px solid var(--primary-color);
}

.text {
    color: var(--primary-color);
    font-size: 32px;

    margin-top: 52px;
    text-align: center;
}

.hr {
    height: 11px;
    background-color: var(--primary-color);
    position: absolute;
    width: 100%;
    border: 0;
    bottom: 40px;
}

.progress {
    background-color: var(--primary-color);
    position: absolute;
    width: 100%;
    animation: loading 3s linear forwards;

    height: 30px;
    bottom: 9px;
}

@keyframes loading {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
