.root {
    padding: 10px 20px;
    background: var(--secondary-color);
    width: 455px;
    height: 61px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: MrAmazin;
}

.label {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.wrapper {
    position: relative;
}
.error {
    color: red;
    position: absolute;
    right: 5px;
    bottom: 5px;
}
