.root {
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}
.line {
    height: 5px;
    background-color: var(--primary-color);
    flex: 1;
}

.headline {
    font-size: 50px;
    color: var(--primary-color);
    margin: 0 40px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.search > *:not(:last-child) {
    margin-right: 20px;
}
.search input {
    outline: none;
    border: 0px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    background: var(--secondary-color);
}
.search button {
    padding: 20px;
    border-radius: 20px;
    background: var(--primary-color);
    font-size: 20px;
    font-family: 'MrAmazin';
    border: 0px;
    cursor: pointer;
}

.row {
    padding: 10px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    background-color: var(--fourth-color);
    border-radius: 13px;
}
.row:not(:last-of-type) {
    margin-bottom: 20px;
}
.row > *:not(:last-child) {
    margin-right: 20px;
}
.rowIndex {
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: var(--primary-color);
}
.personImg {
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    white-space: normal;
    word-break: break-word;
}
.name {
    font-size: 50px;
}
.salary {
    margin-left: auto;
}
